@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

*{
  font-family: 'Inter', sans-serif;
}

.font-syne{
  font-family: 'Syne', sans-serif;
}


@theme {
  --color-dark-black: #1B1B1B;
  --color-red: #ED1C24;
}

@theme {
  /* lineHeight */
  --spacing-150: 150%;
}