@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
  --color-dark-black: #1B1B1B;
  --color-red: #ED1C24;
  --color-sky-blue: #E7EAEE;
  --color-gray: #818181;
  --color-light-blue: #FFF1F2;
  --color-light-white: #F6F6F6;
}

@theme {
  --spacing-100: 100%;
  --spacing-125: 125%;
  --spacing-150: 150%;
}

*{
  font-family: 'Inter', sans-serif;

}

.font-syne{
  font-family: 'Syne', sans-serif;
}